Histogram for the skewness
Boxplot to see outliers
average
check mfcc

In [8]:
import pandas as pd
import os
import matplotlib.pyplot as plt

### Check One Labeled Data

In [2]:
df0 =pd.read_csv("Label Data-20230830T070214Z-001\Label Data\Label_000.csv", header=None)

In [3]:
df0

                0             1               2
0     2819.986311   2819.986311  Start to sleep
1     3041.878030   3045.269745              S1
2     3047.026899   3050.418614              S1
3     5039.720786   5043.194229              S1
4     5168.074725   5171.834216              S1
..            ...           ...             ...
621  16433.840150  16437.191000              S1
622  16438.457780  16441.849500              S1
623  16496.893360  16500.080750              S1
624  16500.407660  16503.799380              S2
625  16504.534930  16507.640600              S1

[626 rows x 3 columns]

In [17]:
# Rename columns for clarity
df0.columns = ['start_time', 'end_time', 'level']

# Calculate duration
df0['duration'] = df0['end_time'] - df0['start_time']

# Display the updated DataFrame
print(df0)

       start_time      end_time           level  duration
0     2819.986311   2819.986311  Start to sleep  0.000000
1     3041.878030   3045.269745              S1  3.391715
2     3047.026899   3050.418614              S1  3.391715
3     5039.720786   5043.194229              S1  3.473443
4     5168.074725   5171.834216              S1  3.759491
..            ...           ...             ...       ...
621  16433.840150  16437.191000              S1  3.350850
622  16438.457780  16441.849500              S1  3.391720
623  16496.893360  16500.080750              S1  3.187390
624  16500.407660  16503.799380              S2  3.391720
625  16504.534930  16507.640600              S1  3.105670

[626 rows x 4 columns]

### Combine Data from All label

In [48]:
# Path to the folder containing CSV files
folder_path = 'Label Data-20230830T070214Z-001\Label Data'

# List all CSV files in the folder
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# Initialize an empty list to hold dataframes
dfs = []

# Loop through each CSV file and read it into a DataFrame
for csv_file in csv_files:
    file_path = os.path.join(folder_path, csv_file)
    df = pd.read_csv(file_path, header=None)  # Assuming files don't have headers
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Rename columns for clarity
combined_df.columns = ['start_time', 'end_time', 'level']

In [49]:
#Check Null values
combined_df[combined_df.isnull().any(axis=1)]

        start_time      end_time level
1077  11563.983630  11567.312170   NaN
7137   8294.597318   8297.687159   NaN
9310   4109.494442   4112.727508   NaN

In [50]:
# Drop rows with null values
combined_df.dropna(inplace=True)

In [51]:
# Get distinct levels
combined_df['level'].unique()

array(['Start to sleep', 'S1', 'S2', 'S3', 'S1`', '1', 'S1  ', 'S!', '1S',
       'W1', 'SS1', 'D1'], dtype=object)

In [52]:
# Replace typo levels with 'S1'
typo_levels = ['1', 'S1`', 'S1  ','S!', '1S', 'W1', 'SS1', 'D1']
correct_level = 'S1'

combined_df['level'] = combined_df['level'].replace(typo_levels, correct_level)

In [53]:
# Check distinct levels
combined_df['level'].unique()

array(['Start to sleep', 'S1', 'S2', 'S3'], dtype=object)

In [54]:
# Calculate duration
combined_df['duration'] = combined_df['end_time'] - combined_df['start_time']

In [55]:
combined_df

        start_time     end_time           level  duration
0      2819.986311  2819.986311  Start to sleep  0.000000
1      3041.878030  3045.269745              S1  3.391715
2      3047.026899  3050.418614              S1  3.391715
3      5039.720786  5043.194229              S1  3.473443
4      5168.074725  5171.834216              S1  3.759491
...            ...          ...             ...       ...
19965  5961.521731  5964.509268              S1  2.987537
19966  5966.790660  5969.778197              S1  2.987537
19967  5971.407763  5974.395300              S1  2.987537
19968  5975.427358  5978.414895              S1  2.987537
19969  5979.338316  5982.325853              S2  2.987537

[19967 rows x 4 columns]

### Descriptive Statistic

In [58]:
# Group data by level and calculate average duration
combined_df.groupby('level')['duration'].describe()

,count,mean,std,min,25%,50%,75%,max
level,,,,,,,,
S1,18994.0,3.076666,0.164908,1.955867,2.981100,3.013320,3.146530,6.66084
S2,865.0,3.086015,0.280219,1.531702,2.987537,3.079320,3.256300,4.10577
S3,81.0,2.978206,0.229648,2.281098,2.898452,2.987537,3.049224,3.61025
Start to sleep,27.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000

In [59]:
output_folder = 'Cleaned Data'

In [62]:
# Path to the folder containing CSV files
folder_path = 'Label Data-20230830T070214Z-001/Label Data'  # Use forward slashes on Windows too

# List all CSV files in the folder
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# Initialize an empty list to hold dataframes
dfs = []

# Loop through each CSV file, clean and preprocess the data, and save a new output file
for csv_file in csv_files:
    file_path = os.path.join(folder_path, csv_file)
    
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path, header=None)  # Assuming files don't have headers
    
    # Perform data cleaning and preprocessing as needed
    
    # Drop rows with null values
    df.dropna(inplace=True)
    
    # Replace typo levels with 'S1'
    typo_levels = ['1', 'S1`', 'S1  ', 'S!', '1S', 'W1', 'SS1', 'D1']
    correct_level = 'S1'
    df[2] = df[2].replace(typo_levels, correct_level)
    
    # Calculate duration
    df['duration'] = df[1] - df[0]
    
    # Add headers to the DataFrame
    df.columns = ['start_time', 'end_time', 'level', 'duration']
    
    # Save the cleaned and processed DataFrame to a new output file
    output_file = f"{csv_file}" 
    output_path = os.path.join(output_folder, output_file)
    df.to_csv(output_path, index=False)

    # Append the cleaned DataFrame to the list for further analysis if needed
    dfs.append(df)

### Mel-frequency cepstrum (MFC)

In sound processing, the mel-frequency cepstrum (MFC) is a representation of the short-term power spectrum of a sound, based on a linear cosine transform of a log power spectrum on a nonlinear mel scale of frequency.

Mel-frequency cepstral coefficients (MFCCs) are coefficients that collectively make up an MFC.[1] They are derived from a type of cepstral representation of the audio clip (a nonlinear "spectrum-of-a-spectrum"). The difference between the cepstrum and the mel-frequency cepstrum is that in the MFC, the frequency bands are equally spaced on the mel scale, which approximates the human auditory system's response more closely than the linearly-spaced frequency bands used in the normal spectrum. This frequency warping can allow for better representation of sound, for example, in audio compression that might potentially reduce the transmission bandwidth and the storage requirements of audio signals.

MFCCs are commonly derived as follows:

Take the Fourier transform of (a windowed excerpt of) a signal.
Map the powers of the spectrum obtained above onto the mel scale, using triangular overlapping windows or alternatively, cosine overlapping windows.
Take the logs of the powers at each of the mel frequencies.
Take the discrete cosine transform of the list of mel log powers, as if it were a signal.
The MFCCs are the amplitudes of the resulting spectrum.